<!DOCTYPE html>
<html>
<head>
  <title>TorqueboxMessaging</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  
   </script>

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
